.icon {
  padding: 0;
  margin: 0;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(140, 149, 146, 0.2);
  opacity: 0.3;
box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.1);
}
